{% load i18n %}

{# --- SUBJECT ▽ --- #}
{% block subject %}
no-reply: {{ site_name }} | {% blocktranslate %}Email address change completed{% endblocktranslate %}
{% endblock subject %}
{# --- SUBJECT △ --- #}

{# --- TEXT ▽ --- #}
{% block text_body %}
{% blocktranslate %}Email address change completed{% endblocktranslate %}

{# --- FOOTER --- #}
{% include 'accounts/cert_email/include/text_footer.html' %}
{% endblock text_body %}
{# --- TEXT △ --- #}

{# --- HTML ▽ --- #}
{% block html_body %}
<h3>
    {% blocktranslate %}Email address change completed{% endblocktranslate %}
</h3>

{# --- FOOTER --- #}
{% include 'accounts/cert_email/include/html_footer.html' %}
{% endblock html_body %}
{# --- HTML △ --- #}