{% load i18n %}

{# --- SUBJECT ▽ --- #}
{% block subject %}
no-reply: {{ site_name }} | {% blocktranslate %}Your password reset request has been accepted.{% endblocktranslate %}
{% endblock subject %}
{# --- SUBJECT △ --- #}

{# --- TEXT ▽ --- #}
{% block text_body %}
{% blocktranslate %}Your password reset request has been accepted.{% endblocktranslate %}
{% blocktranslate %}Please access the authentication URL below and set a new password.{% endblocktranslate %}

{% include 'accounts/cert_email/include/text_authentication_url.html' %}
{% blocktranslate %}※ The authentication URL expires in {{ TOKEN_EXPIRED_MIN }}minutes. It becomes invalid after the expiration date.{% endblocktranslate %}

{# --- FOOTER --- #}
{% include 'accounts/cert_email/include/text_footer.html' %}
{% endblock text_body %}
{# --- TEXT △ --- #}

{# --- HTML ▽ --- #}
{% block html_body %}
<h3>
    {% blocktranslate %}Your password reset request has been accepted.{% endblocktranslate %}
</h3>
<p>
    {% blocktranslate %}Please access the authentication URL below and set a new password.{% endblocktranslate %}
</p>
{% include 'accounts/cert_email/include/html_authentication_url.html' %}
<p>
    {% blocktranslate %}※ The authentication URL expires in {{ TOKEN_EXPIRED_MIN }}minutes. It becomes invalid after the expiration date.{% endblocktranslate %}
</p>

{# --- FOOTER --- #}
{% include 'accounts/cert_email/include/html_footer.html' %}
{% endblock html_body %}
{# --- HTML △ --- #}